<% content_for :head do %>    

    <title>PhotoClicker.net - Photographer <%= @profile.profile_name %> Profile - Free Stock Photos</title>
    <meta name="description" content='Welcome to PhotoClicker.net. You are currently browsing the profile of one of the photographers uploading free photos.' >
    <meta name='keywords' content="free,photos,stock,free photos, stock photos, photographer, free stock photos, site with photos">

<% end %>


<div class='container profile_show_container'>

    <div class='row profile_show_row'>

        <%= render :partial=>'profiles/top_nav' %>

        <div class='col-md-6 profile_show_column_left'>

            <div class='avatar'>

                <% if @profile.avatar.attached? %>
                    <%= image_tag(@profile.avatar_show, :alt=>'profile photo') %>
                <% else %>
                    <%= image_tag('default/default_avatar.png', :alt=>'user avatar') %>
                <% end %>

            </div>

        </div> 

        <div class='col-md-6 profile_show_column_right'>

            <ul class="list-group list-group-flush">

                <li class="list-group-item"><%= @profile.profile_name.truncate(50) %></li>
                <li class="list-group-item">
                    <% if @profile.country.present? %>
                        <%= @profile.country.truncate(50) %></li>
                    <% else %>
                        No Country Added</li>
                    <% end %>

                <li class="list-group-item a_tag">
                
                    <% if @profile.my_site.present? %>
                        <%= link_to @profile.my_site.truncate(50), @profile.my_site, :rel=>'nofollow' %></li>
                    <% else %>
                        <%= link_to 'PhotoClicker.net', 'https://photoclicker.net', :rel=>'nofollow' %></li>
                    <% end %>

                <li class="list-group-item">
                    <% if @profile.instagram_url.present? && !(@profile.instagram_url.include? "won't say") %>
                        <%= link_to @profile.instagram_url.truncate(50), @profile.instagram_url, :target=> '_blank', :rel => 'nofollow' %></li>
                    <% else %>
                        No Instagram Added</li>
                    <% end %>

                <li class="list-group-item">
                <% if @profile.facebook_url.present? && !(@profile.facebook_url.include? "won't say") %>
                    <%= link_to @profile.facebook_url.truncate(50), @profile.facebook_url, :target=> '_blank', :rel => 'nofollow' %></li>
                <% else %>
                    No FaceBook Added</li>
                <% end %>

                <li class="list-group-item">
                <% if @profile.deviantart_url.present? && !(@profile.deviantart_url.include? "won't say")  %>
                    <%= link_to @profile.deviantart_url.truncate(50), @profile.deviantart_url, :target=> '_blank', :rel => 'nofollow' %></li>
                <% else %>
                    No DeviantArt Added</li>
                <% end %>

            </ul>

        </div>

    </div>

    <div class='row profile_show_row_bottom'>

        <div class='col-md-12 profile_show_column_bottom'>
            <%= @profile.description %>
        </div>

    </div>

    <div class='row profile_show_numbers_row'>

        <div class='hire'>

            <% if @profile.hire %>

                <span class='profile_hire'><%= link_to 'Available for hire', new_message_path(:id => @profile.user_id) %></span>

            <% end %>

        </div>

        <div class='col-md-12 profile_show_numbers_column'>

            <div class='total_uploaded_photos'>

                <span class='title'>Photos:</span>
                <span class='number'><%= @uploaded %></span>
                
            </div>

             <div class='total_photos_views'>

                <span class='title'>Views:</span>
                <span class='number'><%= @views %></span>
                
            </div>

            <div class='total_photos_likes'>

                <span class='title'>Likes:</span>
                <span class='number'><%= @likes %></span>
                
            </div>


        </div>

    </div>

    <div class='row most_viewed_photos_row'>

        <div class='col-md-12 most_viewed_photos_column'>

            <span class='title'>6 Most Viewed Photos</span>

            <div class='photos_container'>

                <% @most_viewed.each do |f| %>

                    <div class='photo'><span class='counter'><%= f.views %></span><%= image_tag(f.image_url(:thumb), :alt=>'photo' ) %></div>

                <% end %>

            </div>
        </div>

    </div>

    <div class='row most_liked_photos_row'>

        <div class='col-md-12 most_liked_photos_column'>

            <span class='title'>6 Most Liked Photos</span>

            <div class='photos_container'>

                <% @most_liked.each do |f| %>

                    <div class='photo'><span class='counter'><%= f.likes %></span><%= image_tag(f.image_url(:thumb), :alt=>'photo' ) %></div>

                <% end %>

            </div>
        </div>

    </div>



</div>
