
      <div class='row most_top_nav_row'>

        <div class='container-fluid most_top_nav_containter'>

          <% if !user_signed_in? %>
          <div class='c_left'>
            <!--
            <span>Prawdopodobnie Najciekawszy z Portali Randkowych</span>
            -->
          </div>
          <% end %>

          <div class='col-md-12 c_center'>

            <h1 class='portal_randkowy'>Free Stock Photos</h1>

          </div>

          <div class='c_right'>

            <%= link_to '<i class="far fa-envelope"></i>'.html_safe, new_contact_path %>

          </div>

        </div>

    </div>


    <nav class="navbar navbar-light top_navbar navbar-expand-lg">

      <div class='container-fluid navbar_container'>

        <div class='top_logo_box'>

          <div class='logotype_left'>

            <%= link_to image_tag('logotype.png', :alt=>'free stock photos'), root_path ,:class=>'button_left', :title => 'Free Photos' %>
          
          </div>

           <div class='logotype_left_txt'>
            
              <%= link_to 'PhotoClicker', root_path, :class=>'txt_big', :title => 'Free Stock Photos' %>
              <%= link_to 'Just download it!', root_path, :class=>'txt_small', :title => 'Commercial Free Photos'  %>

           </div>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

      <div class="collapse navbar-collapse" id="navbarNav">
                
          <ul class="navbar-nav">

              <% if user_signed_in? %>

              <li class="nav-item">

                  <%= link_to '<span>Users Ranking</span>'.html_safe, rankings_path, :class=>'nav-link' %>
                  <%= link_to '<span>Users</span>'.html_safe, profiles_path, :class=>'nav-link' %>
                  <%= link_to '<span>Most Popular Photos</span>'.html_safe, most_popular_path, :class=>'nav-link' %>
                  <%= link_to '<span>My Profile</span>'.html_safe, profile_path(current_user.id), :class=>'nav-link' %>
                  <%= link_to '<span>Uploaded</span>'.html_safe, photos_path, :class=>'nav-link' %>  
                  <%= link_to '<span>Upload</span>'.html_safe, new_photo_path, :class=>'nav-link' %>
                  <%= link_to '<span>Messages</span>'.html_safe, messages_path, :class=>'nav-link' %>

              </li>
              
              <% end %>

              <% if !user_signed_in? %>

                <li class="nav-item">
                    
                    <%= link_to '<span>About Us</span>'.html_safe, about_us_path, :class=>'nav-link' %>
                    <%= link_to '<span>Users Ranking</span>'.html_safe, rankings_path, :class=>'nav-link', :title => 'Most Popular Photographers' %>
                    <%= link_to '<span>Users</span>'.html_safe, profiles_path, :class=>'nav-link', :title => 'All Users' %>
                    <%= link_to '<span>Most Popular Photos</span>'.html_safe, most_popular_path, :class=>'nav-link', :title => 'Most Popular Free Photos' %>
                    <%= link_to '<span>F.A.Q</span>'.html_safe, faq_path, :class=>'nav-link' %>
                    <%= link_to '<span>Regulations</span>'.html_safe, regulations_path, :class=>'nav-link', :title=>'Page Regulations' %>
                    <%= link_to '<span>Privacy</span>'.html_safe, privacy_policy_path, :class=>'nav-link', :title=>'Page Privacy' %>
                    
                </li>

              <% end %>

           </ul>

           <div class='right_contact_button'>

            <% if current_user %>

              <%= link_to '<i class="fas fa-sign-out-alt"></i><span>Log OUT</span>'.html_safe, destroy_user_session_path, :method => 'delete', :class=>'contact_button' %>

            <% else %>

              <%= link_to '<i class="fas fa-sign-in-alt"></i><span>Sign IN / Sign UP</span>'.html_safe, new_session_path(resource_name), :class=>'contact_button' %>
              
            <% end %>

          </div>

        </div>

      </div>

    </nav>