<% @photos.each do |p| %>

    <% p.update(:views => p.views + 1 ) %>

    <div class='iso_image'>
        
        <div class='image_div'>

            <div class='photo_hidden_container'>

                <div class='logotype_display'>

                    <span class='page_name'>PhotoClicker.net</span>
                    <span class='page_name_second'>just download it!</span>
                    
                </div>
                
                <div class='photo_data'>

                    <% cache('user-avatar-hover' + p.hashed.to_s, expires_in: 1.hour) do %>
                        <div class='author_avatar'>

                            <% if User.where('id =?',p.user_id).first.profile.avatar.attached? %>

                                <%= link_to image_tag(User.where('id =?',p.user_id).first.profile.avatar_, :alt=> User.where('id =?',p.user_id).first.username + ' profile photo'), profile_path(User.where('id =?',p.user_id).first.profile) %>

                            <% else %>

                                <%= link_to image_tag('default/default_avatar.png', :alt=> User.where('id =?',p.user_id).first.username + ' user avatar'), profile_path(User.where('id =?',p.user_id).first.profile) %>

                            <% end %>

                        </div>
                    <% end %>

                    <div class='author'>Author: <%= User.where('id =?',p.user_id).first.profile.profile_name %></div>
                    
                </div>

                <div class='bottom_info'>

                    <div class='like'>

                        <% if user_signed_in? %>

                            <% if Like.where('user_id =? and photo_id =?',current_user.id, p.id).present? %>
                                <i class="fas fa-heart active"></i>
                            <% else %>
                                <%= link_to '<i class="far fa-heart"></i>'.html_safe, add_like_path(:id => p.id), :controller => 'photos_controller', :action => 'add_like', :remote => true %>
                            <% end %>

                        <% else %>

                            <i class="fa fa-heart"></i>

                        <% end %>

                    </div>
            
                    <div class='download_icon'>

                        <%= link_to '<i class="fas fa-download"></i>'.html_safe, p.image_url,:data => { :id => p.hashed }, download: Profile.where('user_id =?',p.user_id).first.profile_name +  "_photoclicker_#{p.hashed}_downloaded.jpg", :class=>'icon_to_download'%>
                        
                    </div>

                </div>

                
            </div>

            <% if p.image_url(:iso_optimized).nil? %>

                
                <%= image_tag( p.image_url(:large), :alt=> User.where('id =?',p.user_id).first.username + ' photoclicker.net photo', :class=> 'iso_image_img' ) %>
                

            <% else %>

                
                <%= image_tag( p.image_url(:iso_optimized), :alt=> User.where('id =?',p.user_id).first.username + ' photoclicker.net photo', :class=> 'iso_image_img' ) %>
            

            <% end %>    

        </div>

        <% cache('photo-firstpage-description-' + p.hashed.to_s, expires_in: 1.hour) do %>
            <div class='photo_desc_bottom'>

                <h5>Photo Description</h5>

                <span class='divider'>

                    <span class='divi'></span>
                    <span class='divi middle'></span>
                    <span class='divi'></span>

                </span>

                <h6><%= Description.where('photo_id =?',p.id).last.name %></h6>
                
                <% if !p.get_related_photos.nil? %>
                                                
                    <%  

                        a1 = []
                        a1.push(p.get_related_photos)
                        b1 = a1.flatten
                                                        
                    %>

                <% end %>

                <div class='tags_first_page'>

                    <% Tag.where('photo_id =?',p.id).each_with_index do |f,index| %>

                        <% if index < 5 %>

                            <%= link_to f.name, searches_results_path(:keyword => f.name ), :class=>'data first_page' %>

                        <% end %>

                    <% end %>

                </div>
                
                <div class='number_of_related_photos'>

                    <span class='txt'>Related Photos on Page<span class='number'><%= b1.length %></span></span>

                </div>

                <div class='buttons_container'>

                    <!-- <div class='button_more'><span>More Info</span></div> -->
                    <%= link_to 'Download', p.image_url, :data => { :id => p.hashed }, :class=>'button_download_a', :title=>'Download Photo', download:  Profile.where('user_id =?',p.user_id).first.profile_name + "_photoclicker_#{p.hashed}_downloaded.jpg" %>
        
                </div>

            </div>
            
        <% end %>

        

        <div class='modal_container'>

            <!-- Modal -->
            <div class="modal fade" id="modal_<%= p.id %>" tabindex="-1" aria-labelledby="modal_<%= p.id %>" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered modal-xl">

                    <div class="modal-content">

                        <div class="modal-header">

                            <div class='modal_avatar'>

                                <% cache('user-avatar-' + p.hashed.to_s, expires_in: 1.hour) do %>

                                    <% if User.where('id =?',p.user_id).first.profile.avatar.attached? %>

                                        <%= link_to image_tag(User.where('id =?',p.user_id).first.profile.avatar_, :alt=> User.where('id =?',p.user_id).first.username + ' profile photo'), profile_path(User.where('id =?',p.user_id).first.profile) %>

                                    <% else %>

                                        <%= link_to image_tag('default/default_avatar.png', :alt=> User.where('id =?',p.user_id).first.username + ' user avatar'), profile_path(User.where('id =?',p.user_id).first.profile) %>

                                    <% end %>

                                <% end %>

                            </div>

                            <% cache('user-name-' + p.hashed.to_s, expires_in: 1.hour) do %>

                                <h5 class="modal-title profile_name" id="modal_<%= p.hashed %>"><%= Profile.where('user_id =?',p.user_id).first.profile_name %></h5>
                            <% end %>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>

                        <% cache('user-name-clipboard' + p.hashed.to_s, expires_in: 1.hour) do %>

                            <div class='modal_author_info'>

                                <div class='info'>You do not have to but if You can, add link to user <b><%= User.where('id =?',p.user_id).first.username %></b> profile if You will use this photo on Your site </div>
                                
                                <div class='profile_attribute tooltips' title="Click to save in clipboard"  data-clipboardtext=<%= ('http://localhost:3000/profiles/' + User.where('id =?',p.user_id).first.profile.profile_name).to_s %>>
                                    <%= 'http://localhost:3000/profiles/' + User.where('id =?',p.user_id).first.profile.profile_name %>
                                    
                                </div>
                                <div class='info_2'>or go to direct photo page URL </div>
                                <div class='direct_photo_link'>
                                    
                                    <%= link_to 'http://localhost:3000/photos/' + p.hashed.to_s, direct_photo_path(p.hashed), :class=>'direct_link_a', :title=>'Photo direct link', :rel=>'noreferrer noopener', :target=>'_blank'  %>

                                </div>

                            </div>

                        <% end %>

                        <div class="modal-body">

                            <%= link_to image_tag(p.image_url(:large), :alt=> User.where('id =?',p.user_id).first.username + ' free stock photo'), p.image_url(:fancybox), :class => 'big_image_fancybox' %>

                        </div>

                        <div class="modal-footer">

                            <% if user_signed_in? %>

                                <%= link_to '<i class="far fa-heart"></i>LIKE IT'.html_safe, add_like_path(:id => p.id), :controller => 'photos_controller', :action => 'add_like', :remote => true, :class=>'btn_like' %>

                            <% end %>

                            <button type="button" class="btn_close" data-bs-dismiss="modal">Close</button>

                            <%= link_to 'Download', p.image_url, :data => { :id => p.hashed }, download:  Profile.where('user_id =?',p.user_id).first.profile_name + "_photoclicker_#{p.hashed}_downloaded.jpg", :class=>'btn_download' %>
                        

                        </div>

                        <div class='modal_bottom_info'>
                            
                            <div class='data_container'>

                                <div class='hire'>
                                    <% cache('user-hire-' + p.hashed.to_s, expires_in: 1.hour) do %>
                                        <span class='title'>Available for hire:</span>

                                        <% if User.where('id =?',p.user_id).first.profile.hire %>

                                            <span class='data'><%= link_to 'Yes ( click here )', new_message_path(:id => p.user_id) %></span>
                                            
                                        <% else %>

                                            <span class='data'>No</span>

                                        <% end %>

                                    <% end %>

                                </div>
                                
                                <% cache('photo-added-' + p.hashed.to_s, expires_in: 30.days) do %>

                                    <div class='added_at'>

                                        <span class='title'>Added:</span>
                                        <span class='data'><%= localize( p.created_at, :format => :friend ) %></span>

                                    </div>

                                <% end %>

                                <% cache('photo-dimension-' + p.hashed.to_s, expires_in: 30.days) do %>

                                    <div class='dimensions'>

                                        <span class='title'>Dimensions:</span>
                                        <span class='data'><%= MiniMagick::Image.open('http://localhost:3000' + p.image_url).dimensions %></span>

                                    </div>

                                <% end %>

                                <% cache('photo-downloaded-' + p.hashed.to_s, expires_in: 1.day) do %>

                                    <div class='downloaded'>
                                        
                                        <span class='title'>Downloaded:</span>
                                        <span class='data'><%= p.downloads %></span>

                                    </div>

                                <% end %>

                                <% cache('photo-likes-' + p.hashed.to_s, expires_in: 1.day) do %>

                                    <div class='liked'>
                                        
                                        <span class='title'>Likes:</span>
                                        <span class='data'><%= Like.where('photo_id =?',p.id).all.count %></span>

                                    </div>

                                <% end %>

                                <% cache('photo-views-' + p.hashed.to_s, expires_in: 1.day) do %>

                                    <div class='views'>
                                        
                                        <span class='title'>Views:</span>
                                        <span class='data'><%= p.views %></span>

                                    </div>
                                    
                                <% end %>

                                <% if user_signed_in? && current_user.username == 'Majkel' %>

                                    <div class='photo_tags_list'>

                                        <span class='title'>Tags:</span>

                                        <% Tag.where('photo_id =?',p.id).each do |f| %>

                                            <%= render :partial => 'tags/tag', :locals => {:del => 'true', :tag => f } %>

                                        <% end %>

                                    </div>

                                    <div class='container photo_tags_form' style='margin-top:30px;'>

                                        <%= form_for Tag.new ,:remote => true do |f| %>
                                            
                                            <%= f.hidden_field :user_id, :value => p.user_id %>
                                            <%= f.hidden_field :photo_id, :value => p.id %>
                                            <%= f.text_field :name , :placeholder=>'add tags', :class=>'form-control form-tags' %>
                                            <%= f.button 'add tag'.html_safe, :class=>'btn btn-submit-tags btn-send', :disable_with =>'Adding...' %>
                                        
                                        <% end %>

                                    </div>
                                    
                                <% else %>
                                    
                                    <% cache('photo-tags-' + p.hashed.to_s, expires_in: 1.hour) do %>

                                        <div class='tags'>

                                            <span class='title'>Tags:</span>

                                            <% Tag.where('photo_id =?',p.id).each do |f| %>

                                                <%= link_to f.name, searches_results_path(:keyword => f.name ), :class=>'data' %>

                                            <% end %>

                                        </div>
                                        
                                    <% end %>

                                <% end %>


                                <div class='photo_description'>

                                    <h6><%= Description.where('photo_id =?',p.id).last.name %></h6>

                                </div>

                                
                                <div class='related_photos'>

                                    <span class='title'>Related photos:</span>

                                    <% cache('related-photos-home-' + p.hashed.to_s, expires_in: 6.days) do %>

                                        <div class='related_photo'>

                                            <% if !p.get_related_photos.nil? %>
                                            
                                                <%  
                                                    a = []
                                                    a.push(p.get_related_photos)
                                                    b = a.flatten
                                                    
                                                %>

                                                <% b.each_with_index do |f,index| %>

                                                    <% if index < 6 %>
                                                        <div class='photo'>

                                                            <%= image_tag( Photo.where('id =?',f).first.image_url(:thumb), :alt => 'related photo', :class=>'tooltips', :title => Description.where('photo_id =?',f).first.name )%>

                                                            <div class='photo_background'>

                                                                <div class='link_to_show'>

                                                                    <%= link_to "Show", Photo.where('id =?',f).first.image_url(:fancybox), :class => 'fancybox' %>

                                                                </div>

                                                                <div class='link_to_download'>
                                                                    <% 
                                                                        user_id = Photo.where('id =?',f).first.user_id 
                                                                        profile = User.where('id =?',user_id).first.profile.profile_name
                                                                    %>
                                                                    <%= link_to 'Download', Photo.where('id =?',f).first.image_url, :data => { :id => Photo.where('id =?',f).first.hashed }, download: profile + "_photoclicker_#{Photo.where('id =?',f).first.hashed}_downloaded.jpg" %>
                                                                    
                                                                </div>
                                                                    
                                                            </div>

                                                        </div>
                                                    <% end %>

                                                <% end %>

                                            <% end %>
                                        </div>

                                    <% end %>
                                    

                                </div>
                                

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        
        </div>

    </div>

    
                    
<% end %>





