<!DOCTYPE html>
<html lang="en">
  <head>

    <% if !request.original_url.include? '/profiles/' %> 

      <% content_for :head do %>

          <title>PhotoClicker.net - Free High Quality Stock Photos </title>
          <meta name="description" content="High-quality free photos for a blog, website presentation, wallpapers. Free stock photos from photographers all over the world.">
          <meta name='keywords' content="free,stock,photos,stock photos,free photos,free stock photos,wallpapers,blog photos">

      <% end %>

    <% end %>
    
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <% if !request.original_url.include? '/photos/direct-link/' || '/photos/direct-link/' || '/photos/direct-link/' %>
      
      <meta property="og:type" content="website" />
      <meta property="og:title" content="PhotoClicker.net - Free High Quality Stock Photos" />
      <meta property="og:description" content="High-quality free photos for a blog, website presentation, wallpapers. Free stock photos from photographers all over the world." />
      <meta property="og:image" content="https://photoclicker.net/photoclicker-fb-og-image.png" />
      <meta property="og:url" content="https://photoclicker.net" />
      <meta property="og:site_name" content="PhotoClicker.net - Free Stock Photos" />

    <% end %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'aps', media: 'all'%>
    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'aps' %>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4097832296771894"
     crossorigin="anonymous"></script>
     
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XKL6CWL8G5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XKL6CWL8G5');
    </script>

  </head>

  <body>
   
    <div class='container-fluid page'>
      
      <%= render partial: "shared/top_navbar" %>

      <% if current_user %>

        <%= render partial: "shared/options" %>
        
      <% end %>

      <%= yield %>
      
    </div>
    <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
    
    <div class='right_top_scroll'><i class="fa fa-angle-up"></i></div>
    

    <!-- FOOTER -->

    <%= render :partial => 'shared/footer' %>
    
    <!-- END FOOTER -->


    <div id="simple-cookies" class="simple-cookies top dark">
        <div class="simple-cookies-wrapper">
            <div class="simple-cookie-content">
                <div>
                    <img src="cookie.png" alt="cookies photo">
                </div>
                <div>
                    <h4>Cookies!</h4>
                    We use cookies to personalize content and ads, to offer social features and to analyze traffic to our site. We share information about how you use our website with social media, advertising and analytics partners. Partners may combine this information with other data received from you or obtained when using their services.
                    By using our site you consent cookies. <%= link_to 'Learn more', privacy_policy_path %> reading our privacy policy</a>
                </div>
            </div>
            <div class="simple-cookie-buttons">
                <a href="#" class="tap allow js-close">Allow</a>
                <a href="#" class="tap decline js-close">Decline</a>
            </div>
        </div>
    </div>



    <script type='text/javascript'>
    //<![CDATA[

      WebFontConfig = {
          google: {
              families: ['Open Sans:300,400,500,600,700,800,900:latin,latin-ext&display=swap','Poppins:300,400,500,600,700,800,900:latin,latin-ext&display=swap','Roboto:300,400,500,700,900:latin,latin-ext&display=swap']
          }
      };

      (function(d) {
          var wf = d.createElement('script'),
              s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
      })(document);

    //]]>
    </script>

    
    
  </body>
</html>
